<%- include('partials/header2'); -%>

<div class="container-fuid">
  <%- include('partials/navbar'); -%>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-3">
      <img src="https://source.unsplash.com/user/c_v_r"  width="200px" height="200px" class="rounded-circle" alt="Cinque Terre">
      <h1>user image</h1>
    </div>
    
    <div class="col-4">
      <div>
        <h1>user details</h1>
        <label for="">First Name:</label>
        <span><%= user.fname %></span><br>
        <label for="">Last Name:</label>
        <span><%= user.lname %></span><br>
        <label for="">Email:</label>
        <span><%= user.email %></span>
    </div>
    </div>
    <div class="col-4"></div>
  </div>
   
    
    <div>
      